---
layout: default
---

<div class="archive">
  {% for post in paginator.posts %}
  <div class="archive-item">
    <span class="post-date archive-date fs-4"
      >{{ post.date | date: "%d/%m/%Y" }}</span
    >
    <a href="{{ post.url | relative_url }}" class="archive-title fs-4"
      >{{ post.title }}</a
    >
  </div>
  {% endfor %}

    <!-- Pagination links -->
    <div class="pagination" style="margin-right: 10px;">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">
          Anterior
        </a>
      {% else %}
        <span class="previous">Anterior</span>
      {% endif %}
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Próxima</a>
      {% else %}
        <span class="next ">Próxima</span>
      {% endif %}
  </div>
</div>
